.logo-spiderman{
    fill: transparent;

    animation: logo-spiderman 11s ease infinite alternate;
}

@keyframes logo-spiderman{
    0%{
        stroke-width: 0;
        stroke-dasharray: 1 100;
        fill: transparent;
    }
    25%{
        stroke-width: 0.4;
        fill: transparent;
        stroke-dasharray: 100 0;
    }
    60%,100%{
        stroke-width: 0.1;
        fill: $white-dark;
    }
}